<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/th.png">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="Main_Content"> 
        {{>headers}}
        <img class="Portrait" src="/img/Hmm.jpg" alt="">
        <h1>{{help}}</h1>
        <p>{{HP}}</p>
    </div>
    {{>footer}}

</body>

</html>